:root {
    --z-color: #FFFAFA;
    --z-invert-color: #1E1E1E;
    --z-background-color: #FFFAFA;
    --z-color-disabled: #D3D3D3;
    --z-color-comment: #5A5A5A;
    --z-color-red: #E06C75;
    --z-background-color-opacity: rgba(255, 250, 250, 0.8);
    
    --f-default: 'Courier New', Courier, monospace;
    --fs-default: 1.5rem;
}

.darkMode {
    --z-color: #1E1E1E;
    --z-invert-color: #FFFAFA;
    --z-background-color: #1E1E1E;
    --z-color-disabled: #5A5A5A;
    --z-color-comment: #D3D3D3;
    --z-background-color-opacity: rgba(30, 30, 30, 0.8);
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--f-default);
    font-size: var(--fs-default);
    color: var(--z-color);
    background-color: var(--z-background-color);
}

.text-highlight {
    color: var(--z-color-red)
}

.z-rotate {
    color: var(--z-invert-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
    transform: rotate3d(0,0,0,0deg);
}
.z-rotate:hover {
    transform: rotate3d(0,1,0,360deg);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--z-color-disabled);
}

.z-hover-one {
    position: relative;
}
.z-hover-one:hover {
    color: var(--z-invert-color);
}
@media (hover: hover) {
    .z-hover-one:before {
        content:' ';
        position:absolute;
        top: 10%;
        left:0;
        width:100%;
        height:3px;
        background-color:  var(--z-invert-color);
        transform:scaleX(0);
        transition:all 0.5s;
        transform-origin:left;
    }
    .z-hover-one:hover:before, .z-hover-one:hover:after {
        transform:scaleX(1);
    }
    .z-hover-one:after{
        content:' ';
        position:absolute;
        top:80%;
        left:0;
        width:100%;
        height:3px;
        background-color: var(--z-invert-color);
        transform:scaleX(0);
        transition:all 0.5s;
        transform-origin:right;
    }
}
  
#idHome {
    height:100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
#idAbout {
    height:100vh;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
#idAbout:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom,var(--z-color),var(--z-invert-color));
    opacity: 1; 
}

#particles-js {
    width: 100%;
    height: 100vh;
}

.z-home-title {
    position: absolute;
    text-align: center;
    top: 35%;
    width: 100%;
    color: var(--z-invert-color);
    background-color: var(--z-background-color-opacity);
}
.z-home-title > p > span
{
    color: var(--z-color-red);
}

.not-allowed {
    cursor: not-allowed;
}

.tooltip-toggle {
    position: relative;
}
.tooltip-toggle::before {
    position: absolute;
    top: 100%;
    left: 0;
    content: attr(tooltip-label); 
    padding: 5px;
    transition: all 0.5s ease;
    text-wrap: nowrap;
    background-color: var(--z-color);
    border: 1px solid var(--z-invert-color);
    border-radius: 5px;
}
.tooltip-toggle::before{
    color: var(--z-invert-color);
    font-size: 1rem;
    opacity: 0;
    pointer-events: none;
}
.tooltip-toggle:focus::before,
.tooltip-toggle:focus::after,
.tooltip-toggle:hover::before,
.tooltip-toggle:hover::after {
    opacity: 1;
    transition: all 0.75s ease;
}

.code-editor {
    position: relative;
    top: 15%;
    left: 10%;
    width: 40%;
    color: var(--z-invert-color);
    background-color: var(--z-background-color);
    border-radius: 5px;
    box-shadow: 0 10px 6px -6px #000;
    border: 1px solid var(--z-invert-color);
    
    .title {
        color: var(--z-color-red);
    }
    
    > .tabs {
      background-color: transparent;
    }
  
    > .tabs > .title {
      width: 60%;
      position: relative;
      padding: 5px 0 7px 5px;
      text-align: center;
      font-size: 1.2rem;
      word-wrap: break-word;
    
      &.-ruby { color: #D16262; }
      &.-html { color: #E27B60; }
      &.-react { color: #75E0FD; }
  
      &:after {
        position: absolute;
        top: 0;
        left: 100%;
        content: '';
        color: #6E7180;
        width: 66.8%;
        padding-top: 5px;
        height: 100%;
        background-color: var(--z-color-comment);
        border-top-right-radius: 5px;
        border-bottom: 1px solid var(--z-invert-color);
        border-left: 1px solid var(--z-invert-color);
      }
    }
  
    > .content {
      padding: 20px 0 20px 10px;
      font-size: 1rem;
    }
  
    > .content > .lines {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .lines > .line ::selection {
      background-color: var(--z-invert-color);
    }
  
    .lines > .line {
      white-space: nowrap;
    }
    
    .lines > .line > span {
      white-space: normal;
      word-wrap: break-word;
    }
  
    .lines .linenumber {
      color: var(--z-color-comment);
      padding: 0 15px 0 0;
      font-weight: normal;
    }
  
    .red        { color: #e06c75; }
    .purple     { color: #c678dd; }
    .yellow     { color: #FECF5F; }
    .orange     { color: #FB8578; }
    .blue       { color: #7EBAFF; }
    .green      { color: #98c379; }
    .light-blue { color: #75E0FD }
    .comment    { color: var(--z-color-comment); }
  }
  
@media only screen and (max-width : 480px) {
    .code-editor {
        width: 80%;
      > .tabs > .title {
        width: 100%;
        border-right: none;
        
        &:after {
          display: none;
        }
      }
    }
  }