.navbar-transparent {
    background-color: var(--z-background-color-opacity);
}

.navbar-brand, .nav-link, .navbar-nav .nav-link.active {
    color: var(--z-invert-color);
}

.nav-link.disabled {
    color: var(--z-color-disabled);
}

#btnDarkMode {
    position: absolute;
    right: 10px;
}

@media (width > 991px) {
    .navbar-nav {
        margin: 0 auto;
        display: block;
        text-align: center;
    }
    
    .navbar-nav > li {
        display: inline-block;
    }
}
@media only screen and (max-width: 991px) {
    .navbar-brand {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    
    .navbar-collapse {
        margin-top: 10px;
        padding: 10px 15px;
        background-color: var(--z-color);
        border: 1px solid var(--z-invert-color);
        border-radius: 5px;
    }
}